<!doctype html>
    <title>Skin Cancer Detection</title>
    <h1 style="text-align:center;"> SKIN CANCER DETECTION</h1>
    <h1 style="text-align:center;"><img style="text-align:center;" src="static\sk.jpg"  alt="Smiley face" style="float:left;width:100px;height:100px;"></h1>
    <h1 style="text-align:center;">Upload new File</h1>
    <form style="text-align:center;" method=post enctype=multipart/form-data>
      <input style="text-align:center;"type=file name=image>
      <br>
      <input style="text-align:center;"type=submit value=Predict>
      <br>
      <h2>Predict:{{prediction}}</h2>
    </form>
